{% extends 'admin/layout.njk' %}

{% block content %}
  <div class="chef-content">
    <div class="form-header">
      <h2>Chef Júlia Kinoto</h2>
      <a href="/admin/chefs/1/edit">
        <button>
          Editar chef
        </button>
      </a>
    </div>

    <div class="chef-img-container">
      <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
      <h2>Júlia Kinoto</h2>
      <p>4 receitas</p>
    </div>

    <div class="chef-recipes">
      <h2>Receitas</h2>
      <div class="recipes">
        <div class="card">
          <div class="card-img">
            <img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/lasanha.png" alt="">
          </div>
          <div class="card-description">
            <h3>Lasanha mac n cheese</h3>
            <p>por Júlia Kinoto</p>
            <a href="">Visualizar</a>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/lasanha.png" alt="">
          </div>
          <div class="card-description">
            <h3>Lasanha mac n cheese</h3>
            <p>por Júlia Kinoto</p>
            <a href="">Visualizar</a>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/lasanha.png" alt="">
          </div>
          <div class="card-description">
            <h3>Lasanha mac n cheese</h3>
            <p>por Júlia Kinoto</p>
            <a href="">Visualizar</a>
          </div>
        </div>
        <div class="card">
          <div class="card-img">
            <img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/lasanha.png" alt="">
          </div>
          <div class="card-description">
            <h3>Lasanha mac n cheese</h3>
            <p>por Júlia Kinoto</p>
            <a href="">Visualizar</a>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock content %}