{% extends 'admin/layout.njk' %}

{% block content %}
  <form class="form-content">
    <div class="form-header">
      <h2>Editando receita</h2>
      <div class="form-btn">
        <button type="submit" id="delete">Deletar</button>
        <button type="submit">Salvar receita</button>
      </div>
    </div>
      
      {% include 'admin/fields.njk' %}
  </form>
  
  <script src="/scripts/dynamicFieldEdit.js"></script>
{% endblock content %}