 <div class="form">
    <div>Imagem da receita</div>
      <div id="photos-upload">
        <div id="photo-upload">
          <i class="material-icons">add</i>
          <input 
              id="photos-input"
              type="file" 
              name="photos" 
              multiple
              accept="image/*"
              onChange="PhotosUpload.handleFileInput(event)"
          >
        </div>
        <div id="photos-preview">
          {% if files %}
              {% for image in files %}
                  <div class="photo" id="{{image.id}}">
                      <img src="{{image.src}}" alt="{{image.name}}">
                      <i class="material-icons"
                          onclick="PhotosUpload.removeOldPhoto(event)"
                      >
                      close
                      </i>
                  </div>
              {% endfor %}
              <input type="hidden" name="removed_files">
          {% endif %}
        </div>
      </div>
  </div>

<div class="form">
  <div>Titulo da Receita</div>
  <div>
    <input 
      type="text" 
      name="title" 
      value="{{recipe.title}}"
    >
  </div>
</div>

<div class="form">
  <div>Chef</div>
  <select name="chef_id" id="edit">
    <option value="" disabled>Selecione um chef</option>
    {% for chef in chefs %}
      <option 
      {% if chef.id == recipe.chef_id %}
      selected 
      {% endif %} 
      name="chef_id" 
      value="{{ chef.id }}"
      >{{ chef.name }}
      </option>
    {% endfor %}
  </select>
</div>

<div class="form" id="ingredients">
  <div>Ingredientes</div>
  <div class="ingredient">
    {% for ingredient in recipe.ingredients %}
      <input 
        type="text" 
        name="ingredients[]" 
        value="{{ingredient}}"
      >  
    {% endfor %}

  </div>
  <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
</div>

<div class="form" id="preparations">
  <div>Modo de preparo</div>
  <div class="preparation">
    {% for preparation in recipe.preparation %}
      <input type="text" name="preparation[]" value="{{preparation}}"/>
    {% endfor %}
  </div>
  <button type="button" class="add-preparation">Adicionar novo passo</button>
</div>

<div class="form">
  <div>Informações adicionais</div>
  <div>
    <textarea name="information" class="information">
      {{recipe.information}}
    </textarea>
  </div>
</div>