{% extends "user/layout.njk" %}

{% block header %}
    <a href="/about">Sobre</a>
    <a href="/recipes">
        <strong>Receitas</strong>
    </a>
{% endblock %}

{% block content%}
    <section class="recipe-content">
        <div class="image-recipe">
            <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
            <h3>{{recipe.title}}</h3>
            <p>{{recipe.chef_name}}</p>
        </div>
    </section>

    <nav class="recipe-toggle">
        <div class="recipe ingredients">
            <h2>Ingredientes<a class="showOrHide">ESCONDER</a>
            </h2>
            <ul class="data">
                {% for ingredient in recipe.ingredients %}
                    <li>{{ingredient}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="recipe preparation">
            <h2>Modo de preparo<a class="showOrHide">ESCONDER</a>
            </h2>
            <ul class="data">
                {% for step in recipe.preparation %}
                    <li>{{step}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="recipe info">
            <h2>Informações adicionais<a class="showOrHide">ESCONDER</a>
            </h2>
            <p class="data">{{recipe.information}}</p>
        </div>
    </nav>
    <script src="/scripts/recipes.js"></script>
{% endblock %}