{% extends "user/layout.njk" %}

{% block header %}
    <a href="/about">Sobre</a>
    <a href="/recipes">
        <strong>Receitas</strong>
    </a>
{% endblock %}

{% block content%}
    <section class="recipes">
        <div class="image-recipe">
            <img src="{{item.image}}" alt="Imagem de {{recipes.title}}">
            <h3>{{item.title}}</h3>
            <p>{{item.author}}</p>
        </div>
    </section>

    <nav class="recipe-toggle">
        <div class="recipe ingredients">
            <h2>Ingredientes<a class="showOrHide">ESCONDER</a>
            </h2>
            <ul class="data">
                {% for ingredient in item.ingredients %}
                    <li>{{ingredient}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="recipe preparation">
            <h2>Modo de preparo<a class="showOrHide">ESCONDER</a>
            </h2>
            <ul class="data">
                {% for step in item.preparation %}
                    <li>{{step}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="recipe info">
            <h2>Informações adicionais<a class="showOrHide">ESCONDER</a>
            </h2>
            <p class="data">{{item.information}}</p>
        </div>
    </nav>
    <script src="/scripts/recipes.js"></script>
{% endblock %}