.chef-content {
  width: 100%;
  min-width: 940px;
  max-width: 940px;
  margin: 50px auto;
}

.chef-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-top: 30px;
}

.chef-card {
  display: flex;
  align-items: center;
}

.chef-card img {
  margin-right: 20px;
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50px;
}

.chef-card h3 {
  font-weight: 400;
  font-size: 18px;
  color: #111111;
  margin-bottom: 10px;
}

.chef-card p {
  font-size: 14px;
  font-weight: bold;
  color:#6558C3;
}

.chef-img-container {
  margin-top: 51px;
  text-align: center;
}

.chef-img-container img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.chef-img-container h2 {
  margin-top: 30px;
  font-size: 36px;
}

.chef-img-container p {
  margin-top: 4px;
  font-weight: 300;
  font-size: 20px;
  color: #777777;
}

.chef-recipes {
  max-width: 940px;
  margin-top: 50px;
}

.chef-recipes h2 {
  margin-bottom: 30px;
}

.chef-recipes .recipes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}


