{% extends 'admin/layout.njk' %}

{% block content %}

  <div class="form-content">
    <div class="form-header">
      <h2>Editando receita</h2>
      <div class="form-btn">
        <button type="submit" form="form-delete" id="delete">Deletar</button>
        <button type="submit" form="form-edit">Salvar receita</button>
      </div>
    </div>
      
      <form id="form-edit" method='POST' action='/admin/recipes/?_method=PUT' enctype="multipart/form-data">
        {% include 'admin/fields.njk' %}
        <input type="hidden" name='id' value={{recipe.id}}>
      </form>

      <form id="form-delete" method='POST' action="/admin/recipes/?_method=DELETE">
        <input type="hidden" name='id' value={{recipe.id}}>
      </form>
  </div>
  
  <script src="/scripts/dynamicFieldEdit.js"></script>
  <script src="/scripts/deleteConfirmation.js"></script>

{% endblock content %}